.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Cabin;
  margin: 48px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Cabin;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.5rem;
}.u-section-2 .u-sheet-1 {
  min-height: 583px;
}