.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: Cabin;
  font-size: 3.75rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Cabin;
  margin: 14px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}